<div class="post-preview">
    <a href="/article/{{_id}}">
        <h2 class="post-title">
           {{title}}
        </h2>
        <h3 class="post-subtitle">
            {{content}}
        </h3>
    </a>
    <p class="post-meta">Posted by <a href="#">{{author.username}}</a> {{time}}</p>
</div>
<hr>