<h1>hello, express</h1>

{{#each list}}
<div>
   <a href="/article/{{_id}}"><p>{{title}}</p></a> 
    <p>{{content}}</p>
    <p>{{time}}</p>
    <p>{{author.username}}</p>
    <p>{{category.name}}</p>
</div>
{{/each}}